{% extends 'polls/_basico.html' %} <!-- herda tudo que já tem em _layout1.html -->

{% block head_title %}
    Mega Enquetes
{% endblock %}

{% block main %} <!-- substitui o bloco content em _layout1.html -->
    <h2>Nossas últimas Enquetes</h2>
{% for question in latest_question_list %}

    <ul><article>
        <ul><h3>Em: {{ question.pub_date|date:"d / m / Y" }}</h3></ul>
        <br>
       
    </article>
    {% if user.is_authenticated %}
    <ul><a href="{% url 'poll_edit' pk=question.id %}" class="link-secondary">Editar</a> | 
        <a href="{% url 'poll_delete' pk=question.id %}" class="link-secondary">Excluir</a> | 
        <a href="{% url 'poll_show' pk=question.id %}" class="link-secondary">Ver</a> |
        <a class="p-2 text-dark" href="{% url 'logout' %}">Sair</a></ul>
        {% else %}
    <ul><a class="p-2 text-dark"  href="{% url 'signup' %}">Cadastrar</a> | <a class="p-2 text-dark" href="{% url 'login' %}">Acessar</a></ul>

{% endif %}
    <li>{{ question.question_text }}</li>
{% endfor %}</ul>

<ul><a href="{% url 'poll_add' %}" class="btn btn-lg btn-primary font-weight-bold">
    + Pergunta
</a></ul>
{% endblock %} <!-- fecha o bloco content    -->